<!--The content below is only a placeholder and can be replaced.-->
<div class=""style="text-align:center">
  <h1>  {{title}}  </h1>

  <div class="search-bar">
      <input  [(ngModel)]="userName" placeholder=" Enter name of GitHub user">
      <button id="search" class="btn btn-primary search" (click)="searchUser()">Search</button>
  </div>


<hr>

<hr>
<div class="row">
<div class="col-md-6" id="imageColumn" *ngIf="details">
  <img [src]="details.avatar_url">
</div>

<div class="col-md-6" id="otherDetailsColumn" *ngIf="details">
   <h5>{{details.name}}</h5>
   <h5>{{details.login}}</h5>
   <h5>{{details.company}}</h5>
   <h5>{{details.url}}</h5>
    <h5>{{details.bio}}</h5>

</div>
</div>
