input {
  background-color:white;
  border-radius:0px;
  border: 1px;
  width: 20%;
  height: 34px;
  padding: 7px;
  margin-right: 10px;
}
#search {
  border-radius: 0px;
  height: 35px;
  width: 8%;
  padding: 7px;
}
.search-bar {
  background-color: #211f1f;
  height: 60px;
  padding-top: 15px;
}
#imageColumn {
  border-right:3px solid black;
  height:70%;
  padding: 0.4em;
}
#user-details {
  
    content-align:left;
}
