<!--The content below is only a placeholder and can be replaced.-->
<div class="app-name "  style="text-align:center">
  <h3>  {{title}}  </h3>
</div>

  <div class="search-bar" style="text-align:center">
      <input  [(ngModel)]="userName" placeholder=" Enter name of GitHub user" class="input-md-5">
      <button id="search" class="btn btn-primary search" (click)="searchUser()">Search</button>

  </div>
  <hr>

<div class="row" style="text-align:center; background-color:#211f1f;">
  <div class="col-md-10 col-md-offset-1" style="background-color:#211f1f">
    <!-- #211f1f -->
    <!-- #00ffe1 -->
    <div class="col-md-6" id="imageColumn" *ngIf="details">
      <img [src]="details.avatar_url "class="img-responsive img-circle">
    </div>

    <div class="col-md-6" id="user-details" *ngIf="details">

       <h5><strong> Name:</strong>    {{details.name}} </h5>
       <h5><strong> GitHub:</strong>  {{details.login}}</h5>
       <h5><strong> Company:</strong> {{details.company}}</h5>
       <h5><strong> Url:</strong>   <span id="rangi">{{details.url}}</span></h5>
       <h5><strong> Followers:</strong> {{details.followers}}</h5>
       <h5><strong> Following:</strong> {{details.following}}</h5>
       <h5><strong> Bio:</strong>    {{details.bio}}</h5>

    </div>
  </div>
</div>
<footer></footer>
